  <script src="/js/overview.js"></script> 
  <div class="container p-3" style="align-items: normal;">
      <progressbar onload="editProgress()">
          <div class="progress" role="progressbar" aria-label="Animated striped" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressBar"></div>
          </div>
      </progressbar>

      <announcement class="container">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h2 class="card-title text-start fw-bold">Announcements</h2>
                      </div>
                      <div class="col text-end">
                          <button type="button" class="btn card-subtitle mb-2" data-bs-toggle="modal" data-bs-target="#announceModal" data-bs-whatever="">Update</button>
                      </div>
                      <p class="card-text" id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque, massa sed sollicitudin hendrerit, eros purus pharetra felis, ac pellentesque ligula nunc id lorem.</p>
                  </div>
              </div>
          </div>
      </announcement>

      <div class="container text-center"> <!-- Display Users Todos -->
          <div class="row row-cols-4">
              {{#each results}}
                  <div class="col">
                      <div class="card mb-3">
                          <div class="card-body">
                              <h5 class="card-title">{{title}}</h5> <!-- Title -->
                              <p class="card-text"><small class="text-body">{{name}}</small></p> <!-- Username -->
                              <p class="card-text"><small class="text-body-secondary">{{dates}}</small></p> <!-- Time -->
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                      </div>
                </div>   
              {{/each}}
              <!-- FIXME: testing card-->
                  <div class="col">
                      <div class="card mb-3">
                          <div class="card-body">
                              <h5 class="card-title">Eat Pancakes</h5> <!-- Title -->
                              <p class="card-text"><small class="text-body">Jane Doe</small></p> <!-- Username -->
                              <p class="card-text"><small class="text-body-secondary">11/22/2024</small></p> <!-- Time -->
                              <input type="checkbox" class="btn-check" id="btn-check-1-outlined" Completed autocomplete="off" checked>
                              <label class="btn btn-outline-success" for="btn-check-1-outlined">Completed</label><br>
                          </div>
                      </div>
                </div>  
                  <div class="col">
                      <div class="card mb-3">
                          <div class="card-body">
                              <h5 class="card-title">Go to the movie</h5> <!-- Title -->
                              <p class="card-text"><small class="text-body">Bob</small></p> <!-- Username -->
                              <p class="card-text"><small class="text-body-secondary">12/25/2025</small></p> <!-- Time -->
                              <input type="checkbox" class="btn-check" id="btn-check-2-outlined" Completed autocomplete="off">
                              <label class="btn btn-outline-success" for="btn-check-2-outlined">Completed</label><br>
                          </div>
                      </div>
                </div>  
                  <div class="col">
                      <div class="card mb-3">
                          <div class="card-body">
                              <h5 class="card-title">Sleep</h5> <!-- Title -->
                              <p class="card-text"><small class="text-body">Ross Bob</small></p> <!-- Username -->
                              <p class="card-text"><small class="text-body-secondary">4/25/2077</small></p> <!-- Time -->
                              <input type="checkbox" class="btn-check" id="btn-check-3-outlined" Completed autocomplete="off">
                              <label class="btn btn-outline-success" for="btn-check-3-outlined">Completed</label><br>
                          </div>
                      </div>
                </div>  
                  <div class="col">
                      <div class="card mb-3">
                          <div class="card-body">
                              <h5 class="card-title">Work and Suffer</h5> <!-- Title -->
                              <p class="card-text"><small class="text-body">Alice</small></p> <!-- Username -->
                              <p class="card-text"><small class="text-body-secondary"></small></p> <!-- Time -->
                              <input type="checkbox" class="btn-check" id="btn-check-4-outlined" Completed autocomplete="off" checked>
                              <label class="btn btn-outline-success" for="btn-check-4-outlined">Completed</label><br>
                          </div>
                      </div>
                </div>
                  <div class="col">
                      <div class="card mb-3">
                          <div class="card-body">
                              <h5 class="card-title">Stare at the wall</h5> <!-- Title -->
                              <p class="card-text"><small class="text-body">David</small></p> <!-- Username -->
                              <p class="card-text"><small class="text-body-secondary">12/25/2025</small></p> <!-- Time -->
                              <input type="checkbox" class="btn-check" id="btn-check-5-outlined" Completed autocomplete="off">
                              <label class="btn btn-outline-success" for="btn-check-5-outlined">Completed</label><br>
                          </div>
                      </div>
                </div>  
              <!-- END FIXING CARD-->
          </div>
      </div>
  </div>

  <div class="modal fade" id="announceModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" >Announcement</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="announceDescription" class="col-form-label">Description:</label>
              <textarea class="form-control" id="announceDescription"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="announceSubmit" class="btn btn-primary" onclick="editAnnouncement()">Update</button>
        </div>
      </div>
    </div>
  </div>
