
<img src="/img/textLogo.jpg" class = "textLogo">
<img src = "/img/logo.png" class = "logo">
<h2 class = "pageTitle">Register</h2>
<form action="/register" method="POST">
  <div id = "registrationContainer">
    <label for="username">Username:</label><br>
    <input class = "registerTextBox" type="text" name="username"><br>
    <label for="password">Password:</label><br>
    <input class = "registerTextBox" type="text" name="password"><br>
    <label for="name">Name:</label><br>
    <input class = "registerTextBox" type="text" name="name"><br>
    <label for="email">Email:</label><br>
    <input class = "registerTextBox" type="text" name="email"><br>
    <label for="gender">Gender:</label><br>
    <input class = "registerTextBox" type="text" name="gender"><br>
    <label for="age">Age:</label><br>
    <input class = "registerTextBox" type="text" name="age"><br>
  </div>
  <div>
    <button type="submit" value="Submit" class = "loginbutton">Register</button>
  </div>
</form> 