<h1 class = "pageTitle">Register</h1>
<form action="/register" method="POST">
  <div>
    <label for="username">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" name="password"><br>
    <label for="name">Name:</label><br>
    <input type="text" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="text" name="email"><br>
    <label for="gender">Gender:</label><br>
    <input type="text" name="gender"><br>
    <label for="age">Age:</label><br>
    <input type="text" name="age"><br>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form> 