<h1 class = "pageTitle">Whiteboard</h1>
<hr class = "pageTitleDivide">
<div id = "whiteBoardContainer">
    <div id= "newStickyButton">
        <h3>New</h3>
    </div>
    <div id = "whiteBoard">
    </div>
</div>

