html,body{
  height: 100%;
  margin: 0;  
}
body{
    font-family:'Lato', sans-serif;
    font-weight:normal;
    color:#404040;
    background: #F4F4FF;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}
footer {
    text-align: center; 
    margin-top: auto;
    width: 100%;
    background-color: #F4F4FF;
    
}
a{
    color: #687CFF;
}
nav{
    background-color: #fff;
    font-size: 24px;
}
.navbar {
  border-bottom: none !important;
  box-shadow: none !important;
}



.genericbutton{
  background-color: #687CFF;
  border-style: solid;
  border-color: #687CFF;
  padding:10px;
  margin:20px;
  border-radius: 30px;
  outline-color: #687CFF;
  width: 150px;
  min-width: 150px;
  height:50px;
  min-height:50px;
  color:white;
  font-size:medium;
  font-weight: 500;
  text-decoration: none;

}
.navbarContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.homeContainer{
  margin-right: auto;
  margin-left: 2rem;
}
.dropDownContainer{
  margin-left: auto;
  margin-right: 2rem;
}
.homeButton{
  width: 50px;
  height: 50px;
}
.loginbutton{
    background-color: #687CFF;
    border-style: solid;
    border-color: #687CFF;
    padding:10px;
    margin:20px;
    border-radius: 30px;
    outline-color: #687CFF;
    width: 100px;
    min-width: 100px;
    height:50px;
    min-height:50px;
    color:white;
    font-size:larger;
    font-weight: 700;
}

.logo{
    width:100px;
    height:100px; 
    box-shadow: 0px 5px 5px 0px rgba(133,133,133,0.34);
    margin-top: 70px;
    margin-bottom: 30px;
}
.textLogo{
    display: flex;
    position:absolute;
    left:0;
    top:90px;
    margin-left:10px;
    width:200px;
    min-width: 100px;
    height:auto;
}
.pageTitle{
    font-weight: 700;
    font-size:36px;
    color:#EF3F1C;
}
.pageTitleDivide{
    border-color:#D4D3DE; 
    border-width: 2px; 
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
/* Login Page */
.registerLoginTitle{
    font-size: 40px;
    font-weight:bolder;
    padding:10px;
    color: #FF9721;
}
#submitContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 1000px;
}
.btn-primary{
    width: 100px;
    height: 50px;
    border-radius: 50px;
}
.form-label{
    font-size: 24px;
    padding:5px;
}
.loginTextBox{
    width: 400px;
    min-width: 400px;
    height: 45px;
    padding: 10px;
    outline:#D4D3DE;
    border-style: solid;
    border-radius: 30px;
}


/*Whiteboard*/
.sticky{
    width: 200px;
    height: 200px;
    box-shadow: 0px 5px 5px 0px rgba(133,133,133,0.34);
    background-color: #687CFF;
    cursor: grab;
    position:absolute;
}


#whiteBoardContainer{
    margin-top: 10px;
    position: relative;
    left:10%;
    width:1200px;
    min-width: 1200px;
    height: 900px;
    min-height: 900px;
    margin-bottom:20px;
    padding:10px;
    border-radius: 30px;
}
#whiteBoard{
    background-color: white;
    width: 1100px;
    min-width: 1100px;
    min-height: 700px;
    height: 700px;
    position:absolute;
    top: 100px;   
    left: 50px;  
    outline: 2px solid #D4D3DE;
    border-radius: 30px;
}
#newStickyButton{
    background-color: white;
    position: absolute;
    width:120px;
    height:50px;
    right:0;
    top:0;
    margin: 30px;
    outline: 2px solid #D4D3DE;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
#newStickyPlus{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.delete-button {
  background-color: #d20f32; 
  color: white;
  margin: 1px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  display: none;
  z-index: 10; 
  outline: none;
}
/*--calendar---*/
  
  .event:hover {
    cursor: pointer;
  }
  
  .hidden {
    visibility: hidden;
    height: 0;
  }
  
  #calendar {
    height: 100vh;
  }

/*---projectpage----*/
  
  .header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .projectTitle {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    flex: 1;
  }
  
  .new-project-btn {
    background-color: #687CFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-project-btn:hover {
    background-color: #495cd7;
  }
  
  .project-container {
    justify-content: left;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
  }
  
  .project-card {
    width:300px;
    height:250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .project-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 1rem;
  }
  
  .project-card h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  /*------Fiels page-------*/
  #files_delete_button{
    width:120px;
    height:50px;
    border-radius: 20px;
    justify-content: center; 
    align-items: right; 
}
#files_edit_button{
  width:120px;
  height:50px;
  border-radius: 20px;
  justify-content: center; 
  margin-top: 8px;
}
#files_download_button{
  width:120px;
  height:50px;
  border-radius: 20px;
  justify-content: center; 
  align-items: right; 
}

#files_name{
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
  justify-content: center; 
  align-items: right; 
}
.card{
  border-radius: 30px;
}
.card-title{
  font-weight: 700;
}
.team{
  margin:10px;
  background-color: #fff;
  border-radius: 30px;
  padding:20px;
  width: 1000px;
  box-shadow: 1px 13px 32px -12px rgba(130,130,130,1);
}
.teamsContainer{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.teamName{
  font-weight: 700;
  font-size: 32px;
}
.teamMember{
  font-weight: bold;
  font-size: 20px;
  color:#FF9721;
}
.editTeamsButton{
  background-color: #687CFF;
  border-style: solid;
  border-color: #687CFF;
  padding:10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right:50px;
  border-radius: 30px;
  outline-color: #687CFF;
  width: 150px;
  min-width: 150px;
  height:50px;
  min-height:50px;
  color:white;
  font-size:18px;
  font-weight: 500;
  text-decoration: none;

}
.members{
  color:#707070;
  font-size: 24px;
  font-weight: bold;
}
.teamTextBox{
  width: 300px;
  min-width: 300px;
  height: 45px;
  padding: 10px;
  margin:5px;
  outline:#D4D3DE;
  border-style: solid;
  border-radius: 30px;
}
.manageTeamsLabel{
  font-weight: bold;
  color:#767676;
  font-size: 18px;
}
.teamLabel{
  font-weight: bold;
  font-size: 24px;
} 

.container{
  margin-top:20px;
}


.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.submit-button {
  background: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}
