body{
    font-family:'Lato', sans-serif;
    color:#2D2D2D;
    background: #F4F4FF;
    overflow-y: auto; /* Enable vertical scrolling */

}
footer {
    text-align: center; /* Center the text inside the footer */
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: white;
}
nav{
    background-color: white;
    font-size: 24px;
}

.pageTitle{
    margin-top:10px;
    color:#2D2D2D;
    font-size:32px;
    margin-left:200px;
}
.pageTitleDivide{
    border-color:#D4D3DE; 
    border-width: 2px; 
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
/* Login Page */
.registerLoginTitle{
    font-size: 36px;
    font-weight:bolder;
    padding:10px;
    color: #FF9721;
}
#submitContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 1000px;
}
.btn-primary{
    width: 100px;
    height: 50px;
    border-radius: 50px;
}
.form-label{
    font-size: 24px;
    padding:5px;
}
.loginTextBox{
    align-content: center;
    width: 300px;
    height: 50px;
    outline: 2px solid #D4D3DE;
    border-radius: 30px;
}
.registerTextBox{
    align-content: center;
    width: 200px;
    height: 30px;
    outline: 2px solid #D4D3DE;
    border-radius: 30px;
}

#whiteBoardContainer{
    position: relative;
    left:10%;
    width:1200px;
    min-width: 1200px;
    height: 900px;
    min-height: 900px;
    margin-bottom:20px;
    background-color:#F4F4FF;
}
#whiteBoard{
    background-color: white;
    width: 1100px;
    min-width: 1100px;
    min-height: 700px;
    height: 700px;
    position:absolute;
    top: 70px;   /* 100px from the top of the container */
    left: 50px;   /* 50px from the left of the container */
    outline: 2px solid #D4D3DE;
    border-radius: 30px;
}
#newStickyButton{
    background-color: white;
    position: absolute;
    width:90px;
    height:50px;
    right:0;
    top:0;
    outline: 2px solid #D4D3DE;
    border-radius: 10px;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}
#newStickyPlus{
    display: flex;
    justify-content: center;
    align-items: center;
}
